{% extends "base.html"%}
{% load static %}
{% block title %} | About Me{% endblock%}

{% block content %}
<div class="container flex flex-col lg:flex-row lg:gap-8">
    <div class="lg:basis-3/4 py-4 px-2 lg:px-4">
        <h1>Jaroslav Girovsky</h1>
        <p class="text-pretty text-justify indent-6">
            Junior software engineer with ability to adapt while focused on achieving high-quality results. Working on
            different kind of positions and often solving problems of various areas of life taught me to stay focused
            and explore new areas of knowledge.
            As self-educated programmer who has completed various courses mainly on
            Python and JavaScript and continues to strive for acquiring new skills and education, I am eager to move
            forward, expand my learning and build upon my developer
            skills.
        </p>

        <div class="mt-16 font-extrabold text-4xl">Work Experience</div>
        <!-- <div class="mt-6">
            <div class="font-bold text-3xl">Title</div>
            <div class="mt-4 text-2xl">
                <span>Position - </span>
                <span class="italic text-xl">Technologies</span>
            </div>
            <div class="mt-3 text-xl">
                <span>Company</span>
                <span>| Month, Year - Month, Year</span>
            </div>
            <ul class="mt-3 ml-4 font-light list-disc list-outside">
                <li>Task1</li>
                <li>Task2</li>
            </ul>
        </div> -->

        <div class="mt-6 mb-10">
            <div class="font-bold text-3xl">Applications for websites <a href="www.modrastrecha.sk"
                    target="_blank">www.modrastrecha.sk/</a><a href="www.modrastrecha.cz" target="_blank">.cz/</a><br>
                <a href="www.mojasvadba.zoznam.sk" target="_blank">www.mojasvadba.zoznam.sk/</a><a
                    href="www.beremese.cz" target="_blank">www.beremese.cz</a>
            </div>
            <div class="mt-4 text-2xl">
                <span>Full-Stact Developer - </span>
                <span class="italic text-xl">Python — Django, Turbo, Stimulus, JavaScript, PosgtreSQL, Tailwind,
                    Celery</span>
            </div>
            <div class="mt-3 text-xl">
                <span>4networks SK&CZ, s.r.o. </span>
                <span>| January 2024 — June 2024</span>
            </div>
            <ul class="mt-3 ml-8 font-light list-disc list-outside">
                <li>
                    <a href="www.modrastrecha.sk/todolist/info/" target="_blank">Todolist application </a>- Developed a
                    comprehensive todo list application that enables users to efficiently manage their tasks. Features
                    include task categorization, customizable ordering, the ability to mark tasks as complete, and
                    setting up email reminders.
                </li>
                <li>
                    <a href="www.modrastrecha.sk/new/budgeting/info/" target="_blank">Budgeting application </a>-
                    Designed and developed a budgeting application that allows users to create and manage budgets
                    efficiently. Users can add items with prices into custom categories, organize them, and visualize
                    their spending using a Sankey diagram.
                </li>
                <li>
                    <a href="www.modrastrecha.sk/new/wedding-list/info/" target="_blank">Wedding List application </a>-
                    Created a collaborative wedding list application that allows users to manage wedding plans
                    efficiently. Features include the ability to create and share the administration of a wedding list
                    with other registered users, add guests and relevant details, and send wedding invitations with a
                    form for collecting important guest information. Guests can easily access the form via a URL link.
                </li>
            </ul>
        </div>

        <div class="mt-6 mb-10">
            <div class="font-bold text-3xl">Homepage for websites <a href="www.modrastrecha.sk"
                    target="_blank">www.modrastrecha.sk/</a><a href="www.modrastrecha.cz" target="_blank">.cz/</a><br>
                <a href="www.mojasvadba.zoznam.sk" target="_blank">www.mojasvadba.zoznam.sk/</a><a
                    href="www.beremese.cz" target="_blank">www.beremese.cz</a>
            </div>
            <div class="mt-4 text-2xl">
                <span>Full-Stact Developer - </span>
                <span class="italic text-xl">Python — Django, Turbo, Stimulus, JavaScript, PosgtreSQL, Tailwind,
                    Redis</span>
            </div>
            <div class="mt-3 text-xl">
                <span>4networks SK&CZ, s.r.o. </span>
                <span>| September — December 2023</span>
            </div>
            <ul class="mt-3 ml-8 font-light list-disc list-outside">
                <li>
                    Created Django views using optimized Django ORM queries, and API requests with results often cached
                    in Redis.
                </li>
                <li>
                    Implemented Django views combined with Turbo Frames.
                </li>
                <li>
                    Achieving a responsive design with styling through Tailwind classes.
                </li>
                <li>
                    Implemented a changing-photo album images animation using Stimulus.
                </li>
                <li>
                    Due to the project's inclusion of four domains, it was optimized for multilanguage support and
                    multipurpose flexibility.
                </li>
            </ul>
        </div>

        <div class="mt-6 mb-10">
            <div class="font-bold text-3xl">Book store website</div>
            <div class="mt-4 text-2xl">
                <span>Full-Stact Developer - </span>
                <span class="italic text-xl">Python — Django, PostgreSQL, Docker</span>
            </div>
            <div class="mt-3 text-xl">
                <span>Personal Project</span>
                <span>| April 2023</span>
            </div>
            <ul class="mt-3 ml-8 font-light list-disc list-outside">
                <li>
                    <a href="/projects/bc73c50e-a7e6-4b19-8264-7c5f25f9d0e6">
                        Book Scraper
                    </a>
                    - Developed an asynchronous Python application for scraping book data utilizing BeautifulSoup.
                </li>
                <li>
                    Established a PostgreSQL database running within a Docker container on an Ubuntu personal server.
                </li>
                <li>
                    <a href="/projects/dd670a0d-76f7-45a8-98db-2a4e9d465af5">BookStore website</a>
                    - Designed and implemented a Django website showcasing books with a purchasing option.
                </li>
            </ul>
        </div>

        <div class="mt-6 mb-10">
            <div class="font-bold text-3xl">Smaller projects</div>
            <div class="mt-4 text-2xl">
                <span>Python & PostgreSQL Developer - </span>
                <span class="italic text-xl">Python, PostgreSQL</span>
            </div>
            <div class="mt-3 text-xl">
                <span>Personal Projects</span>
                <span>| February — March 2023</span>
            </div>
            <ul class="mt-3 ml-8 font-light list-disc list-outside">
                <li>
                    <a href="/projects/9090623c-8749-44e0-9ce1-d6f2a21c0a93">
                        OpenAI prompts
                    </a>
                    - Developed a simple Python application for asking questions to ChatGPT using OpenAI prompts.

                </li>
                <li>
                    <a href="/projects/a7b45fd8-f916-46f1-9094-83b614da8af4">
                        MailerLite connector
                    </a>
                    - Created an asynchronous API connector for MailerLite account interactions.
                </li>
                <li>
                    <a href="/projects/08538d43-31b2-455f-990e-2ece5cdd8422">
                        Favourite Healthy Recipes
                    </a>
                    <ul class="list-inside">
                        <li>
                            - Established a PostgreSQL database dedicated to storing and managing recipes, instructions,
                            and ingredients.
                        </li>
                        <li>
                            - Included functionality to provide nutrition details based on the ingredients used in
                            recipes.
                        </li>
                        <li>
                            - Implemented a system to track users' ratings of their favorite recipes and ingredients.
                        </li>
                        <li>
                            - Provided personalized recommendations based on users' preferences.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
    <div class="lg:basis-1/4 py-4 px-2 lg:px-4">
        <div class="flex flex-col md:flex-row lg:flex-col">
            <div class="md:basis-1/2 lg:w-full">
                <div class="mt-8 font-extrabold text-4xl">Skills</div>
                <ul class="mt-3 ml-8 font-light list-disc list-outside">
                    <li>Python — intermediate
                        <ul class="ml-4 -mt-1 text-xl list-disc list-outside">
                            <li>Django — intermediate</li>
                            <li>Pandas, Numpy — basic</li>
                        </ul>
                    </li>
                    <li>PostgreSQL — intermediate</li>
                    <li>JavaScript — intermediate</li>
                    <li>HTML, CSS — intermediate</li>
                    <li>Tailwind — intermediate</li>
                    <li>Turbo & Stimulus — basic</li>
                    <li>React.js & Redux — basic</li>
                    <li>Typescript — basic</li>
                    <li>Node.js — basic</li>
                    <li>Git — basic</li>
                    <li>Docker — basic</li>
                    <li>Kubernetes, Swarm — basic</li>
                    <li>Linux — basic</li>
                </ul>
            </div>
            <div class="md:basis-1/2 lg:w-full">
                <div class="mt-16 md:mt-8 lg:mt-16 font-extrabold text-4xl">Soft Skills</div>
                <ul class="mt-3 ml-8 font-light list-disc list-outside">
                    <li>Critical thinking</li>
                    <li>Problem-solving</li>
                    <li>Adaptability</li>
                    <li>Dependability</li>
                    <li>Wilingness to learn</li>
                </ul>

                <div class="mt-16 font-extrabold text-4xl">Language Skills</div>
                <ul class="mt-3 ml-8 font-light list-disc list-outside">
                    <li>English - B2</li>
                    <li>German - A2</li>
                    <li>Italian - A1</li>
                </ul>
            </div>
        </div>
        <div class="mt-16 font-extrabold text-4xl">IT Education</div>
        <ul class="mt-3 ml-8 font-light list-disc list-outside lineheight-normal">
            <a href="https://www.arjancodes.com/mindset" target="_blank">
                <li class="leading-tight font-light mb-2">The Software Designer Mindset</li>
            </a>

            <a href="https://www.udemy.com/course/thecompletewebdeveloper/" target="_blank">
                <li class="leading-tight font-light mb-2">The Complete 2020 Fullstack Web Developer Course</li>
            </a>

            <a href="https://www.udemy.com/course/react-redux/" target="_blank">
                <li class="leading-tight font-light mb-2">Modern React with Redux</li>
            </a>

            <a href="https://www.udemy.com/course/typescript-the-complete-developers-guide/" target="_blank">
                <li class="leading-tight font-light mb-2">Typescript: The Complete Developers Guide</li>
            </a>

            <a href="https://www.udemy.com/course/sql-and-postgresql/" target="_blank">
                <li class="leading-tight font-light mb-2">SQL and PostgreSQL: The Complete Developer's Guide</li>
            </a>

            <a href="https://www.harvardonline.harvard.edu/course/cs50s-introduction-databases-sql" target="_blank">
                <li class="leading-tight font-light mb-2">CS50’s Introduction to Databases with SQL</li>
            </a>

            <a href="https://www.udemy.com/course/the-complete-python-course/" target="_blank">
                <li class="leading-tight font-light mb-2">The Complete Python Course Learn Python by Doing in 2022</li>
            </a>

            <a href="https://www.packtpub.com/product/python-in-practice-15-projects-to-master-python-video/9781804618486"
                target="_blank">
                <li class="leading-tight font-light mb-2">Python In Practice - 15 Projects to Master Python</li>
            </a>

            <a href="https://www.udemy.com/course/python-and-django-full-stack-web-developer-bootcamp/" target="_blank">
                <li class="leading-tight font-light mb-2">Python and Django Full Stack Web Developer Bootcamp</li>
            </a>

            <a href="https://www.udemy.com/course/python-django-the-practical-guide/" target="_blank">
                <li class="leading-tight font-light mb-2">Python Django - The Practical Guide</li>
            </a>

            <a href="https://www.udemy.com/course/python-django-2021-complete-course/" target="_blank">
                <li class="leading-tight font-light mb-2">Python Django 2021 - Complete Course</li>
            </a>

            <a href="https://www.udemy.com/course/docker-mastery/" target="_blank">
                <li class="leading-tight font-light mb-2">Docker Mastery: with Kubernetes + Swarm from a Docker Captain
                </li>
            </a>
        </ul>
    </div>
</div>

{% endblock %}