{% extends "base.html"%}
{% load static %}
{% block title %} | About Me{% endblock%}

{% block content %}
<div class="container flex flex-row gap-8">
    <div class="basis-3/4 p-4">
        <h1>Jaroslav Girovsky</h1>
        <p class="text-pretty text-justify indent-6">
            Junior software engineer with ability to adapt while focused on achieving high-quality results. Working on
            different kind of positions and often solving problems of various areas of life taught me to stay focused
            and explore new areas of knowledge.
            As self-educated programmer who has completed various courses mainly on
            Python and JavaScript and continues to strive for acquiring new skills and education, I am eager to move
            forward and obtain a new challenging position that will expand my learning and build upon my developer
            skills.
        </p>

        <div class="mt-16 font-extrabold text-4xl">Work Experience</div>
        <!-- <div class="mt-6">
            <div class="font-bold text-3xl">Title</div>
            <div class="mt-4 text-2xl">
                <span>Position - </span>
                <span class="italic text-xl">Technologies</span>
            </div>
            <div class="mt-3 text-xl">
                <span>Company</span>
                <span>| Month, Year - Month, Year</span>
            </div>
            <ul class="mt-3 ml-4 font-light list-disc list-outside">
                <li>Task1</li>
                <li>Task2</li>
            </ul>
        </div> -->

        <div class="mt-6 mb-10">
            <div class="font-bold text-3xl">Homepage for websites <a href="www.modrastrecha.sk"
                    target="_blank">www.modrastrecha.sk/</a><a href="www.modrastrecha.cz" target="_blank">.cz/</a><br>
                <a href="www.mojasvadba.zoznam.sk" target="_blank">www.mojasvadba.zoznam.sk/</a><a
                    href="www.beremese.cz" target="_blank">www.beremese.cz</a>
            </div>
            <div class="mt-4 text-2xl">
                <span>Full-Stact Developer - </span>
                <span class="italic text-xl">Python — Django, Turbo, Stimulus, JavaScript, PosgtreSQL, Tailwind,
                    Redis</span>
            </div>
            <div class="mt-3 text-xl">
                <span>4nets, s.r.o </span>
                <span>| September — December 2023</span>
            </div>
            <ul class="mt-3 ml-8 font-light list-disc list-outside">
                <li>Created Django views using optimized Django ORM queries and API
                    requests and results often cached in Redis</li>
                <li>Created Django views combined with Turbo Frames</li>
                <li>Created HTML templates for Django views using Tailwind</li>
                <li>Created changing-photoalbum-images animation using Stimulus</li>
                <li>Since project included 4 domains, it was optimized for multilanguage and multi-purpose flexibility
                </li>
            </ul>
        </div>

        <div class="mt-6 mb-10">
            <div class="font-bold text-3xl">Book store website</div>
            <div class="mt-4 text-2xl">
                <span>Full-Stact Developer - </span>
                <span class="italic text-xl">Python — Django, PostgreSQL, Docker</span>
            </div>
            <div class="mt-3 text-xl">
                <span>Personal Project</span>
                <span>| April 2023</span>
            </div>
            <ul class="mt-3 ml-8 font-light list-disc list-outside">
                <li><a href="/projects/bc73c50e-a7e6-4b19-8264-7c5f25f9d0e6">Book Scraper</a> - async python app to
                    scrape book data using BeautifulSoup</li>
                <li>Created PostgresSQL database running in docker container on
                    Ubuntu personal server</li>
                <li><a href="/projects/dd670a0d-76f7-45a8-98db-2a4e9d465af5">BookStore website</a> - django website
                    presenting books with purchasing option</li>
            </ul>
        </div>

        <div class="mt-6 mb-10">
            <div class="font-bold text-3xl">Smaller projects</div>
            <div class="mt-4 text-2xl">
                <span>Python & PostgreSQL Developer - </span>
                <span class="italic text-xl">Python, PostgreSQL</span>
            </div>
            <div class="mt-3 text-xl">
                <span>Personal Projects</span>
                <span>| February — March 2023</span>
            </div>
            <ul class="mt-3 ml-8 font-light list-disc list-outside">
                <li><a href="/projects/9090623c-8749-44e0-9ce1-d6f2a21c0a93">OpenAI prompts</a> - simple python app for
                    asking Chat GPT questions</li>
                <li><a href="/projects/a7b45fd8-f916-46f1-9094-83b614da8af4">MailerLite connector</a> - async api
                    connector
                    for MailerLite account</li>
                <li><a href="/projects/08538d43-31b2-455f-990e-2ece5cdd8422">Favourite Healthy Recipes</a> - PostgreSQL
                    database created to store
                    and manage recipes, instructions, and ingredients, as well as provide
                    nutrition details based on the ingredients used in recipes. This data-
                    base also tracked users' ratings of their favorite recipes and ingre-
                    dients, and it made recommendations based on their preferences.</li>
            </ul>
        </div>

    </div>
    <div class="basis-1/4 p-4">
        <div class="mt-8">
            jaroslavgirovsky@gmail.com <br>
            +421 911 812 199<br>
            Veľká Tŕňa, Hlavná 124/7<br>
            github.com/jagi113
        </div>

        <div class="mt-16 font-extrabold text-4xl">Skills</div>
        <ul class="mt-3 ml-8 font-light list-disc list-outside">
            <li>Python — intermediate
                <ul class="ml-4 -mt-1 text-xl list-disc list-outside">
                    <li>Django — intermediate</li>
                    <li>Pandas, Numpy — basic</li>
                </ul>
            </li>
            <li>PostgreSQL — intermediate</li>
            <li>JavaScript — intermediate</li>
            <li>HTML, CSS — intermediate</li>
            <li>Tailwind — intermediate</li>
            <li>Turbo & Stimulus — basic</li>
            <li>React.js & Redux — basic</li>
            <li>Typescript — basic</li>
            <li>Node.js — basic</li>
            <li>Git — basic</li>
            <li>Docker — basic</li>
            <li>Kubernetes, Swarm — basic</li>
            <li>Linux — basic</li>
        </ul>

        <div class="mt-16 font-extrabold text-4xl">Soft Skills</div>
        <ul class="mt-3 ml-8 font-light list-disc list-outside">
            <li>Critical thinking</li>
            <li>Problem-solving</li>
            <li>Adaptability</li>
            <li>Dependability</li>
            <li>Wilingness to learn</li>
        </ul>

        <div class="mt-16 font-extrabold text-4xl">Language Skills</div>
        <ul class="mt-3 ml-8 font-light list-disc list-outside">
            <li>English - B2</li>
            <li>German - A2</li>
            <li>Italian - A1</li>
        </ul>

        <div class="mt-16 font-extrabold text-4xl">IT Education</div>
        <ul class="mt-3 ml-8 font-light list-disc list-outside lineheight-normal">
            <a href="https://www.arjancodes.com/mindset" target="_blank">
                <li class="leading-tight font-light mb-2">The Software Designer Mindset</li>
            </a>

            <a href="https://www.udemy.com/course/thecompletewebdeveloper/" target="_blank">
                <li class="leading-tight font-light mb-2">The Complete 2020 Fullstack Web Developer Course</li>
            </a>

            <a href="https://www.udemy.com/course/react-redux/" target="_blank">
                <li class="leading-tight font-light mb-2">Modern React with Redux</li>
            </a>

            <a href="https://www.udemy.com/course/typescript-the-complete-developers-guide/" target="_blank">
                <li class="leading-tight font-light mb-2">Typescript: The Complete Developers Guide</li>
            </a>

            <a href="https://www.udemy.com/course/sql-and-postgresql/" target="_blank">
                <li class="leading-tight font-light mb-2">SQL and PostgreSQL: The Complete Developer's Guide</li>
            </a>

            <a href="https://www.harvardonline.harvard.edu/course/cs50s-introduction-databases-sql" target="_blank">
                <li class="leading-tight font-light mb-2">CS50’s Introduction to Databases with SQL</li>
            </a>

            <a href="https://www.udemy.com/course/the-complete-python-course/" target="_blank">
                <li class="leading-tight font-light mb-2">The Complete Python Course Learn Python by Doing in 2022</li>
            </a>

            <a href="https://www.packtpub.com/product/python-in-practice-15-projects-to-master-python-video/9781804618486"
                target="_blank">
                <li class="leading-tight font-light mb-2">Python In Practice - 15 Projects to Master Python</li>
            </a>

            <a href="https://www.udemy.com/course/python-and-django-full-stack-web-developer-bootcamp/" target="_blank">
                <li class="leading-tight font-light mb-2">Python and Django Full Stack Web Developer Bootcamp</li>
            </a>

            <a href="https://www.udemy.com/course/python-django-the-practical-guide/" target="_blank">
                <li class="leading-tight font-light mb-2">Python Django - The Practical Guide</li>
            </a>

            <a href="https://www.udemy.com/course/python-django-2021-complete-course/" target="_blank">
                <li class="leading-tight font-light mb-2">Python Django 2021 - Complete Course</li>
            </a>

            <a href="https://www.udemy.com/course/docker-mastery/" target="_blank">
                <li class="leading-tight font-light mb-2">Docker Mastery: with Kubernetes + Swarm from a Docker Captain
                </li>
            </a>
        </ul>
    </div>
</div>

{% endblock %}